@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
 }
 body{
    background-color: #fff;
 }

 /* hero section */

 .hero-right .menu-items .hr{
    width: 15vw;
    height: 1px;
    background-color: #696868;
    margin-left: 30px;
 }
 .hero-right .menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    list-style-type: none;
    color: #838381;
    margin-top: 50px;
 }
 nav .menu-item{
    font-family: 'Poppins', sans-serif;
    font-size: small;
 }
 .fa-bars {
    display: none;
}
.menu-item:hover{
    cursor: pointer;
    color: black;
}
.hero{
    display: flex;
    justify-content: space-between;
    /* gap: 5%; */
}
.hero-left{
    flex: 1;
    position: relative;
}
.hero-left img{
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.logo-img img{
  position: absolute;
  width: 80px;
  height: 30px;
  z-index: 2;
  top: 50px;
  left: 50px;
}

.hero-right{
    display: flex;
    flex:2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 60vw;
    float: right;
}
.hero-right .nav{
    display: flex;
    width: 100%;
}
.hero-right-content{
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
    height: fit-content;
    width: 94%;
    position: relative;
}
.btn{
   display: inline;
   align-self: flex-end;
   padding: 15px 40px;
   background-color: #383838;
   color: #f7f4f2;
   font-size: 18px;
   font-weight: 400;
   border: none;
}
.hero-right-top{
    display: flex;
    justify-content: space-between;
}
.hero-right-top .social{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#fb{
    width: 16px;
}
.hero-heading{
    flex: 1;
    margin-left: 30px;
}
.hero-heading h1{
    font-size: 120px;
    font-family: 'Merriweather', serif;
    display: inline-block;
    line-height: 1;

}
#cre{
    color: #fffefd;
}

#black{
    color: #333333;
    margin-left: 52%;
}
#cre, #black{
    text-shadow: 
    1px 0px rgba(0, 0, 0, 0.766),
    0px 1px rgba(0, 0, 0, 0.766),
    -1px 0px rgba(0, 0, 0, 0.766),
    0px -1px rgba(0, 0, 0, 0.766);
     
}
.hero-heading p{
    font-size: 28px;
    color: #8A8A89;
    display: inline-block;
    margin-left: 28%;
}
.social{
    width: 20px;
    
}
.social img {
    position: relative;
    right: 0px;
    top: 0px;
}

/* hero-right-bottom */
.hero-right-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    gap: 4%;
}
.vl{
    background-color: #828282;
    width: 0.5px;
    height: 250px;
    position: relative;
    background-color: light blue;
     
}
.vl .circle{
     width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #828282;
    
    display: inline-block;
    
    margin-right: 20px;
    position: relative;
    left: -5px;
    margin-bottom: 40px; 
}
.content-list {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.skills{
    font-size: 18px;
    margin-left: 20px;
}
.skills p{
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    cursor: pointer;
}

.dance{
    flex: .7;
}
.dance i{
    font-size: 32px;
}
.dance p{
    font-family: 'Poppins' ,sans-serif;
    margin-bottom: 10px;
}
.dance img{
    width: 100%;
    height: auto;
}

.down-arrow {
    background-color: #828282;
    width: 1.5px;
    height: 150px;
    position: relative;
}
.down-arrow .line{
    background-color: #828282;
    width: 1.5px;
    height: 25px;
    position: absolute;
    left: 6px;
    bottom: -1px;
}
  .down-arrow .left{
    transform: rotate(30deg);
}

.down-arrow .right{
    transform: rotate(-30deg);
    position: absolute;
     left: -6px;
    bottom: -1px;
}
@media screen and (max-width:1300px) {
    .hero-heading h1 {
        font-size: 100px;
    }
}
@media screen and (max-width:1165px) {
    .hero-heading h1 {
        font-size: 80px;
    }
}
@media screen and (max-width:1065px) {
    .hero-heading h1 {
        font-size: 60px;
    }
    /* .hero-right .menu-items{
        margin-top: 30px;
    } */
    .hero .logo-img{
        top: 20px;
    }
    .hero-heading p{
        font-size: 20px;
    }
    .social img{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:740px) {
    .hero-heading h1 {
        font-size: 40px;
    }
    .hero-heading p {
        font-size: 16px;
        
    }
    .hero-right-content{
        gap: 20px;
    }
   
    .hero-right .menu-items{
        margin-top: 30px;
    }
    .hero .logo img{
        top: 20px;
    }
    .btn{
        padding: 12px 21px;
        font-size: 15px;
    }
    .skills {
        font-size: 12px;
    }
    .dance p {
        font-size: small;
    }
    .vl{
        height: 215px;
    }
    .vl .circle{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:600px) {
    .fa-bars{
        display: block;
        position: relative;
        top: 60px;
        right: 10px;
    }
    .hero-right .menu-item{
        display: none;
    }
    .hero .logo img{
        top: 16px;
        left: 8px;
    }
    .hero-img {
        flex: .7;
    }

.skills {
    font-size: 10px;
}
.skills p {
    margin-bottom: 16px;
}
.vl{
    height: 150px;
}
.vl .circle{
    margin-bottom: 17px;
}
.hero-right-bottom{
    flex-direction: column;
}
.dance{
    margin-left: 40px;
}
.down-arrow{
    display: none;
}
}